<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Home</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" th:if="${user==null}">
                        <a class="nav-link" href="/registration">Registration</a>
                    </li>
                    <li class="nav-item" th:if="${user==null}">
                        <a class="nav-link" href="/authorization">Authorization</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link"
                           th:href="@{/home/read/{id}(id=${user.id})}">Account</a>
                    </li>
                    <li class="nav-item" th:if="${user!=null}">
                        <a class="nav-link" href="/home/createAdt">Create adt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>